html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #dd9494;
    color: #333;
    font-family: "Roboto", sans-serif;
  }
  
  
  header {
    background: #ffbebeb9;
    padding: 20px;
  }
  
  header h1 {
    color: #333;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
  }
  
  .score-board {
    border: 3px solid #572f2fb7;
    width: 250px;
    margin: 40px auto;
    font-size: 32px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
  }
  
  .badge {
    background: #c95f94;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #fff;
  }
  
  #user-label {
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
  }
  
  #computer-label {
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
  }
  
  .result {
    font-weight: 300;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
  }
  
  .choices {
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
  }
   
  .choice:hover {
    background-color: #c95f94;
  }
  
  .choice {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .choice img {
    filter: invert(100%);
  }
  
  #action-message {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 40px 0;
    font-size: 16px;
  }
  
  .winningStyles {
    border: 2px solid #27eb72;
    background-color: #dfffd9;
    box-shadow: 0 0 20px rgba(77, 204, 125, 0.3);
    
  }
  
  .losingStyles {
    border: 2px solid #c52e2e;
    background-color: #ffd6d6;
    box-shadow: 0 0 20px rgba(197, 46, 46, 0.3);
  }
  
  